<div class="container">
  <div *ngIf="products$ | async as products">
    <div *ngIf="products.length > 0">
      <div *ngFor="let product of products$ | async">
        <p>{{product.name}}</p>
        <div>
          <input type="number" min="1" [value]="product.quantity"
            (change)="updateQuantity(product, $event.target.value)">
        </div>
        <button class="btn" (click)="removeProduct(product.id)">Remove</button>
      </div>
      <button class="btn btn-danger" (click)="cleanCart()">Clean cart</button>
    </div>
  </div>
</div>
